// Project variables and Mixins
@import 'variables';
@import 'mixins';

// Main Styles
main {
  min-height: 100vh;
  padding-top: 91px;
  padding-bottom: 112px;
}

.title {
  font-weight: normal;
  letter-spacing: 1.1px;
}

#__next {
  display: flex;
  min-height: 100vh;
}

.layout {
  min-height: 100vh;

  .ant-layout-content {
    padding: 0 50px;
  }

  .content-body {
    background: #fff;
    padding: 24px;
    min-height: 80vh;
  }

  .ant-layout-footer {
    text-align: center;
  }
}
